<link rel="stylesheet" href="/css/header.css">
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Job Camp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Job Camp</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <%if(locals.user){%>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Tasks
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                          <li><a class="dropdown-item" href="/students/studentsList">Student Lists</a></li>
                          <li><a class="dropdown-item" href="/interviews/interviews-lists"> Interviews List</a></li>
                          <li><a class="dropdown-item" href="/students/addStudent">Add Student</a></li>
                          <li><a class="dropdown-item" href="/interviews/add-interview">Add Interview</a></li>
                          
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="/students/csv/">Download CSV1</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          My Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                          
                          <li><a class="dropdown-item" href="/users/edit/<%=locals.user.id%>">Change password</a></li>
                          <li><a class="dropdown-item" href="/users/sign-out">Sign Out</a>
                          </li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                        </ul>
                      </li>
                      
                 <%}else{%>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign-in">Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/users/sign-up">New user</a>
                        </li>
                 <%}%>
              </ul>
            </div>
          </div>
        </div>
      </nav>

</header>