<form action="/interviews/post-interview" method="post" >
    <input type="text" name="companyName" placeholder="Company Name">
    <input type="text" name="title" placeholder="Job Profile">
    <input type="date" name="date" placeholder="Date of Interview">
    <textarea name="discription"  cols="30" rows="10" placeholder="Job Discription......"></textarea>
    <input type="submit" value="Schedule Interview">
</form>